nodered_flow.json
{
    "id": "esp32_to_azure",
    "label": "ESP32 to Azure SQL",
    "nodes": [
        {
            "id": "mqtt_in",
            "type": "mqtt in",
            "z": "esp32_to_azure",
            "name": "ESP32 MQTT Input",
            "topic": "esp32/sensor_data",
            "qos": "0",
            "datatype": "json",
            "broker": "",
            "nl": false,
            "rap": true,
            "rh": 0,
            "x": 130,
            "y": 120,
            "wires": [["process_data"]]
        },
        {
            "id": "process_data",
            "type": "function",
            "z": "esp32_to_azure",
            "name": "Process Sensor Data",
            "func": "// Extrair dados do payload JSON\nconst now = new Date();\n\n// Criar objeto com dados formatados\nmsg.payload = {\n    data_leitura: now.toISOString().split('T')[0],\n    hora_leitura: now.toTimeString().split(' ')[0],\n    temperatura: msg.payload.temperatura,\n    umidade: msg.payload.umidade,\n    modulo_id: msg.payload.modulo_id,\n    ip_address: msg.payload.ip,\n    mac_address: msg.payload.mac\n};\n\n// Criar query SQL\nmsg.query = `INSERT INTO SensorData \n    (data_leitura, hora_leitura, temperatura, umidade, modulo_id, ip_address, mac_address) \nVALUES \n    (@data_leitura, @hora_leitura, @temperatura, @umidade, @modulo_id, @ip_address, @mac_address)`;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 340,
            "y": 120,
            "wires": [["azure_sql"]]
        },
        {
            "id": "azure_sql",
            "type": "MSSQL",
            "z": "esp32_to_azure",
            "mssqlCN": "",
            "name": "Azure SQL",
            "query": "",
            "outField": "payload",
            "x": 550,
            "y": 120,
            "wires": [["debug"]]
        },
        {
            "id": "debug",
            "type": "debug",
            "z": "esp32_to_azure",
            "name": "Debug Output",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 760,
            "y": 120,
            "wires": []
        }
    ]
} 